@model Bluepill.Search.Facet

@{ Layout = null; }

<div class="accordion-group facet-container hide" data-top="@Model.Top">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#facet-@Model.Id">@Model.Name</a>
    </div>
    <div id="facet-@Model.Id" class="accordion-body collapse">
        <div class="accordion-inner">
            @Html.HiddenFor(x => x.Name)
            @Html.HiddenFor(x => x.Id)
            @{ int perColumn = (int)Math.Ceiling((double)Model.Aspects.Count() / 3); }
            <div class="container-fluid">
                <div class="row-fluid">
                     <ul class="aspect-list" data-per-column="@perColumn">
                        @Html.EditorFor(x => x.Aspects)
                     </ul>
                </div>
            </div>
        </div>
    </div>
</div>