@model Bluepill.Search.Facet

@{ Layout = null; }

@*@Html.HiddenFor(x => x.Name)
@Html.HiddenFor(x => x.Id)*@

@*<div class="facet-container hide" id="facet-@Model.Id" data-top="@Model.Top">
    <h3 class="facet-action">@Model.Name<span></span></h3>
    <ul class="hide">
        @Html.EditorFor(x => x.Aspects)
    </ul>
</div>*@

 <div class="accordion-group facet-container hide" data-top="@Model.Top">
    @Html.HiddenFor(x => x.Name)
    @Html.HiddenFor(x => x.Id)
    <div class="accordion-heading">
        <a class="accordion-toggle facet-action" data-toggle="collapse" data-target="#facet-@Model.Id" @*data-parent="#facets-area"*@ href="#facet-@Model.Id">
           <h3>@Model.Name</h3>
        </a>
    </div>
    <div id="facet-@Model.Id" class="accordion-body collapse">
        <div class="accordion-inner">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        @Html.EditorFor(x => x.Aspects)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>