@model IEnumerable<Bluepill.Search.Facet>

@foreach(var facet in Model)
{
    <div class="a" id="@facet.Id" data-open="false">
    <a href="#" class="facet">@facet.Display</a>    
            
    @foreach (var aspect in facet.Aspects)
    {
        <label>@aspect.Item1</label>
        <input type="checkbox" data-value="@aspect.Item2" />
    }    

    @if(facet.Descendants.Count() > 0)
    {
        <a href="#" class="ancestor">x</a>
    }


        @Html.Partial("Facet", facet.Descendants)
    </div>
}

