@model Bluepill.Web.Areas.Administration.Models.CreateModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section css
{ 
    <link href="/content/bluepill.create.css" rel="stylesheet" type="text/css" />
}

@section script
{ 
    <script src="/scripts/bluepill.create.js"></script>
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="#">Bluepill</a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="active"><a href="#">Add</a></li>
                    <li><a href="@Url.Action("Index","Search", new { Area = "Bluepill" })">Search</a></li>
                    <li><a href="@Url.Action("Index","Authentication", new { Area = "Framework" })">Sign Out</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid loading" data-file-total="@Model.TotalFileCount">
    <div class="row-fluid">
        <div class="span12">
            <div class="progress progress-striped active">
                <div class="bar" style="width:100%;"><span>Loading ...</span></div>
            </div>
            <div>
                <span class="badge badge-info hide">@Model.TotalFileCount files</span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid content hide">
    <div class="row-fluid">

        <div class="add span5">
            
            <div class="row-fluid">
                <a class="pull-right" id="input" href="@Model.Url" target="_blank">
                    <img src="/application/picture/GetResizePicture?file=@Model.Url&height=@Model.ResizedHeight&width=@Model.ResizedWidth" alt="" />
                </a>
            </div>

        </div>

        <div class="span7">
                        
            <div class="row-fluid visible-phone actions">
                <div class="inner pull-left">
                    <button class="btn btn-primary btn-large btn-clear" disabled="disabled">Clear</button>
                </div>
                <div class="inner pull-right">
                    <button class="btn btn-primary btn-large btn-submit" disabled="disabled">Submit</button>
                </div>
            </div>

            <div class="row-fluid">
                <div class="accordion facet-area">
                     <form>
                        @Html.HiddenFor(x => x.Url)
                        @Html.HiddenFor(x => x.File)
                        @Html.EditorFor(x => x.Facets)
                    </form>
                </div>
            </div>

            <div class="row-fluid visible-desktop actions">
                <div class="pull-left">
                    <button class="btn btn-primary btn-large btn-clear" disabled="disabled">Clear</button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary btn-large btn-submit" disabled="disabled">Submit</button>
                </div>
            </div>

        </div>
        
    </div>

</div>