@{ 
    Bundles.Reference("css");
 }

<!DOCTYPE html>
<html>
<head>
    <title>Blue Pill</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="favicon.png">
    @Bundles.RenderStylesheets()
</head>
<body data-is-mobile="@ViewBag.IsMobile">

    @if (IsSectionDefined("navbar")) { 
        @RenderSection("navbar")
    }
    else{
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
            
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="brand" href="#">Bluepill</a>

                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li id="nav-add"><a href="@Url.Action("Index","Create", new { Area = "Bluepill" })">Add</a></li>
                            <li id="nav-search"><a href="@Url.Action("Index","Search", new { Area = "Bluepill" })">Search</a></li>
                            <li><a href="@Url.Action("Index","Authentication", new { Area = "Framework" })">Sign Out</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    }

    @RenderBody()
         
    @Bundles.RenderScripts()
    @if (IsSectionDefined("script")) { @RenderSection("script") }

</body>
</html>

