@model Bluepill.Search.Facet

<ul>
    <li>
        <input type="checkbox" id="@Model.Value" />
@*        @Html.CheckBoxFor(x => x.IsChecked, new { id = @Model.Value })*@

        <label for="@Model.Value">@Model.Name</label>
        </li>
        @if (Model.Children.Count() > 0)
        {
            
                    <div class="@Model.Value children-container" data-checkbox="@Model.Value">
                        <ul class="@Model.Value plus-minus">
                            <li><a href="#">-</a></li>
                        </ul>
            
                @foreach(var facet in Model.Children){
                        <ul class="@Model.Value children" data-checkbox="@Model.Value">
                            @Html.Partial("Facet", facet)
                        </ul>
                }
                    </div>

         }

</ul>

    